# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
forklift/

# Distribution / packaging
.build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Data / outputs
#outputs/
*.mp4
*.avi
*.mov
*.pt

# OS
.DS_Store
Thumbs.db
